<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/media.css">
    <title>Log-in</title>
</head>
<body>
    <header>
        <section>
            <div id="contenedor-encabezado">
                <a href="/"><img src="images/logo-mercado-liebre.svg" alt="caca"></a>
                <div id="input">
                    <input type="text" placeholder="Search..">
                    <button><i class="fas fa-search"></i></button>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</p>
            </div>
        </section>
        <section>
        </section>
        <nav>
            <ul class="barra_busqueda">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="barra_busqueda">
                <li><a href="/register">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
            <section id="pelotudo">
                <button id="barra"><i class="fas fa-bars icon-4x" style="font-size: 25px;"></i></button>
            </section>
        </nav>
    </header>
    <main>
        <form>
            <div>
                <input type="text" name="nombreUsuario" name="nombreUsuario" placeholder="Nombre de usuario" class="input-comun">
            </div>
            <div>
                <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña" class="input-comun">
            </div>
            <div>
                <button type="submit" class="boton-register">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <div>
            <article class="item-footer">
                <i class="far fa-credit-card" id="logo"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
        </div>
        <div>
            <article class="item-footer">
                <i class="fas fa-gift" id="logo"></i>            
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
        </div>
        <div>
            <article class="item-footer">
                <i class="fas fa-user-shield" id="logo"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p class="text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
        </div>
        <div id="copyright">
            <article>
                <p class="text">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </div>
    </footer>
</body>
</html>